[Unit]
Description=VNet Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/vnet/vnet --config /etc/vnet/config.json
Restart=on-failure
# Don't restart in the case of configuration error
#RestartPreventExitStatus=23
LimitNOFILE=20480000
RestartSec=5

[Install]
WantedBy=multi-user.target
